[Unit]
Description=Firefly Logger First Boot Setup
Before=cockpit.socket

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/ffdl3-firstboot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
