[Unit]
Description=Firefly Logger First Boot Setup
After=mariadb.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/ffdl-firstboot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
